@{
    ViewData["Title"] = "Privacy Policy";
}
<script src="/js/ckeditor4/ckeditor.js"> </script>
<section>
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        This is my textarea to be replaced with CKEditor 4.
    </textarea>
    <script>
        CKEDITOR.replace('editor1');
    </script>
</section>